body {
	background-color: #90caf9 ;
}

h1 {
	background-color: #2962ff;
}
h2 {
	background-color: #bbdefb;
}
h4 {
	background-color: #2979ff;
}
div.card-panel.hoverable {
	background-color: #e3f2fd ;
}

.hidden {
	display: none;
	visibility: hidden;
}

.visible {
	display: block;
	visibility: visible;
}